<nav
  class="navbar bg-dark navbar-expand-lg bg-body-tertiary"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/list/1">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/write">글쓰기</a>
        </li>
      </ul>
      <button class="registerBtn"><a href="/register">회원가입</a></button>
      <button class="loginBtn"><a href="/login">로그인</a></button>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  document.querySelector('.registerBtn').addEventListener('click', () => {
    axios
      .get('/register')
      .then((response) => {
        // 서버에서 받은 HTML을 현재 페이지에 업데이트
        document.documentElement.innerHTML = response.data;
      })
      .catch((error) => {
        console.log(error + '에러남');
      });
  });

  document.querySelector('.loginBtn').addEventListener('click', () => {
    axios
      .get('/login')
      .then((response) => {
        // 서버에서 받은 HTML을 현재 페이지에 업데이트
        document.documentElement.innerHTML = response.data;
      })
      .catch((error) => {
        console.log(error + '에러남');
      });
  });
</script> -->
