/* 부트스트랩에 설정된 값(margin-bottom:16px)을 수정함 */
.d-flex {
  margin-bottom: 0;
}

/* list.ejs 스타일 */
.grey-bg {
  background: #eee;
}
.white-bg {
  background: white;
  margin: 20px;
  border-radius: 5px;
}
.list-box {
  padding: 10px;
  border-bottom: 1px solid#eee;
}
.list-box h4 {
  font-size: 16px;
  margin: 5px;
}
.list-box p {
  font-size: 13px;
  margin: 5px;
  color: grey;
}
.list_id {
  display: none;
}

input,
div {
  box-sizing: border-box;
}
.form-box {
  background: white;
  padding: 25px;
  margin: 20px;
  border-radius: 8px;
}
.form-box input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}
.form-box button {
  padding: 10px;
  border: none;
  background: lightgrey;
  border-radius: 5px;
}

.detail-bg {
  background: white;
  padding: 15px;
  margin-top: 10px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a,
.pagination .current-page {
  display: inline-block;
  padding: 8px 16px;
  margin: 0 4px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.pagination a:hover {
  background-color: #eee;
}
